$breakpoint-mobile: 768px;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
.about{
    width: 100%;
    background-color: black;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 5rem;

    .text{
        width: fit-content;
        display: flex;
        flex-direction: column;
        height: inherit;
        color: white;
        padding: 3rem;
        p{
            text-align: justify;
            padding-top: 1rem;;
            font-size: 1.2rem;
            padding-bottom: 3rem;
        }
        button{
            background-color: rgb(192, 154, 105);
            border: none;
            border-radius: 30px;
            color:rgb(255, 255, 255);
            height: 3.5rem;
            width: 15rem;
            box-shadow: rgb(255, 255, 255);
            font-size: 1em;
            transition: 0.4s ease;
            &:hover{
                background-color: #c57d2a;
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    .image{
        width: 100%;
        align-items: flex-end;
        padding: 3rem;
        img{
            width: inherit;
            height: inherit;
        }
    }

    @media (max-width: 1100px){
        flex-direction: column;
        .text{
            align-items: center;
            align-content: center;
            p{
                text-align: center;
            }
        }

        @media (max-width:500px){
            padding: 0;
        }

    }
}


